<!-- Header Component - H2O Poços Artesianos -->
<header class="header">
    <div class="container">
        <div class="logo">
            <img src="assets/logo.png" alt="H2O Poços Artesianos" class="logo-img">
        </div>
        <nav class="navigation">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="index.html" class="nav-link" data-page="inicio">Início</a>
                </li>
                <li class="nav-item">
                    <a href="sobre.html" class="nav-link" data-page="sobre">Sobre nós</a>
                </li>
                <li class="nav-item">
                    <a href="servicos.html" class="nav-link" data-page="servicos">Serviços</a>
                </li>
                <li class="nav-item">
                    <a href="projetos.html" class="nav-link" data-page="projetos">Projetos</a>
                </li>
                <li class="nav-item">
                    <a href="contato.html" class="nav-link" data-page="contato">Contato</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
